<app-navbar></app-navbar>
<div class="container mb-5">
  <h1 class="text-center m-5">Preguntas más frecuentes</h1>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          <strong>¿Quíenes somos?</strong>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Somos una plataforma de reservas de hoteles en línea dedicada a brindarte acceso a una amplia gama de opciones
          de alojamiento en todo el mundo. Nuestro equipo está compuesto por apasionados profesionales de la industria
          hotelera que trabajan arduamente para garantizar que tu experiencia de reserva sea sencilla y
          satisfactoria.<br>
        </div>
      </div>
    </div>
    <div class="accordion-item  mt-5">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          <strong>¿Cómo funciona nuestra página?</strong>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          A continuación te explicamos los pasos básicos para hacer una búsqueda: <br>
          <br>
          <strong>- Paso 1: Ingresa tus criterios de búsqueda</strong> <br>
          Ingresa el destino que te interesa en la barra de búsqueda, por ejemplo, una ciudad, un país o un lugar de
          interés. A continuación, selecciona tus fechas de viaje, ingresa la cantidad de personas y haz clic en
          Buscar.<br>
          <strong>- Paso 2: Compara precios y ofertas</strong> <br>
          Nuestra página busca cientos de opciones posibles según tus criterios de búsqueda. Verás que podras visualizar
          una amplia variedad de ofertas para cada hospedaje de distintos sitios de reservaciones. Ahora es tu turno de
          mirar fotos, leer opiniones y comparar precios.<br>
          <strong>- Paso 3: Reserva y paga en el sitio de reservación</strong><br>
          Al hacer clic en una oferta, te redirigirá al sitio web de reservación en el que podrás completar tu
          reservación y pagar directamente.Te recomendamos que verifiques toda la información que se muestra en la
          página de pago antes de pagar.<br>
        </div>
      </div>
    </div>
    <div class="accordion-item mt-5">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          <strong>¿Cómo o dónde puedo realizar mis pagos correspondientes?</strong>
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Ofrecemos varias opciones seguras y convenientes para realizar tus pagos correspondientes. Puedes completar tu
          transacción en línea utilizando tarjetas de crédito o débito, transferencias bancarias, o a través de otros
          métodos de pago electrónicos. Además, también ofrecemos la opción de pago en el propio hotel para algunas
          reservas, brindándote flexibilidad en tus preferencias de pago. Aseguramos que todos los datos de pago se
          manejen de forma segura y que tus transacciones estén protegidas.<br>
        </div>
      </div>
    </div>
    <div class="accordion-item mt-5">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          <strong>¿Como puedo cancelar mi reservacion?</strong>
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Para cambiar o cancelar la reservación, contacta directamente al sitio de reservaciones. Puedes ver los datos
          de contacto del sitio de reservaciones en tu correo de confirmación. <br>
          Si no puedes encontrar la confirmación de la reservación, te recomendamos que primero revises tu carpeta de
          correo no deseado. Si aún no logras encontrarlo, aquí tienes unos consejos sencillos. <br>
          <strong>-</strong> Revisar el correo de confirmación y realizar el contacto con los datos que se muestran.<br>
          <strong>-</strong> Revisar el correo no deseado. <br>
          <strong>-</strong> Checar el ultimo cuadro de preguntas "Datos de contacto".<br>
        </div>
      </div>
    </div>
    <div class="accordion-item mt-5">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
          <strong>¿Que me brinda el hotel durante mi Reserva?</strong>
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Durante tu reserva, el hotel te ofrece una serie de servicios y comodidades que pueden variar según el
          establecimiento. En general, tu reserva garantiza una habitación cómoda y bien equipada con las comodidades
          estándar, como ropa de cama limpia, toallas, artículos de tocador, acceso a Wi-Fi, y servicio de limpieza
          diario. Además, muchos hoteles ofrecen servicios adicionales, como desayuno gratuito, estacionamiento, acceso
          al gimnasio, piscina, y servicio de habitaciones. Te recomendamos revisar la descripción de la habitación y
          los servicios incluidos en la página de reserva para conocer exactamente qué ofrece el hotel que has
          elegido.<br>
        </div>
      </div>
    </div>
    <div class="accordion-item mt-5">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
          <strong>¿Puedo posponer mi reserva para otra fecha y tiene un monto adiciona?</strong>
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          Sí, entendemos que a veces los planes pueden cambiar. La posibilidad de posponer tu reserva para otra fecha
          depende de la política de cancelación del hotel y de las condiciones específicas de tu reserva. Algunos
          hoteles ofrecen flexibilidad y permiten cambios en la fecha de tu estadía sin cargos adicionales, siempre y
          cuando se realice dentro de un plazo determinado antes de la fecha de llegada original. Sin embargo, en otros
          casos, puede haber un cargo por modificación de la reserva. Te recomendamos revisar las condiciones de
          cancelación y cambio de fechas de tu reserva específica antes de confirmarla para conocer los detalles y
          costos asociados con posponer tu estancia.<br>
        </div>
      </div>
    </div>
  </div>
</div>