<app-navbar></app-navbar>
<div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators">
  <div class="carousel-indicators">
    <button aria-label="Slide 1" class="active" data-bs-slide-to="0" data-bs-target="#carouselExampleIndicators"
      type="button"></button>
    <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleIndicators"
      type="button"></button>
    <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#carouselExampleIndicators"
      type="button"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img alt="..." class="d-block w-100" src="../../../assets/ban6.jpg">
      <div class="carousel-caption">
        <h5>Lima a Orillas del Océano</h5>
        <p>Disfruta de la costa del Pacífico y sus impresionantes vistas.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img alt="..." class="d-block w-100" src="../../../assets/ban3.jpg">
      <div class="carousel-caption">
        <h5>Vida Nocturna en la Capital</h5>
        <p>Experimenta la animada vida nocturna y la gastronomía de Lima.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img alt="..." class="d-block w-100" src="../../../assets/ban5.jpg">
      <div class="carousel-caption">
        <h5>Arte y Cultura en la Ciudad</h5>
        <p>Disfruta de museos, galerías y manifestaciones culturales únicas.</p>
      </div>
    </div>
  </div><button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators"
    type="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span
      class="visually-hidden">Previous</span></button> <button class="carousel-control-next" data-bs-slide="next"
    data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true"
      class="carousel-control-next-icon"></span> <span class="visually-hidden">Next</span></button>
</div>
<section class="about section-padding m-5" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-12">
        <div class="about-img">
          <img alt="" style="height: 100%;" class="img-fluid" src="../../../assets/ban5.jpg">
        </div>
      </div>
      <div class="col-lg-8 col-12">
        <div class="about-text">
          <h2 class="text-center mt-2">Somos Easy Stay</h2>
          <p style="text-align: justify;">La forma más sencilla y conveniente de reservar habitaciones. Easy Stay,
            puedes buscar y asegurar habitaciones de hotel, apartamentos y más en segundos. Olvídate de las complicadas
            llamadas telefónicas y correos electrónicos; con nuestra aplicación, la reserva de tu alojamiento ideal es
            rápida y sin complicaciones.</p>
          <a class="btn btn-warning" (click)="Faq()">Conócenos</a>
        </div>
      </div>
    </div>
  </div>
</section>


<!--HOTELES-->
<div class="container p-4">
  <div class="row">

    <div class="col-md-4" *ngFor="let hotel of hoteles">
      <div class="card text-center">
        <img class="card-img-top" style="width: 100%; height: 400px;" src="{{hotel.imagen}}">
        <div class="card-body">
          <p>{{hotel.nombre}}</p>
          <p>{{hotel.ciudad}}</p>
          <p>{{hotel.direccion}}</p>
          <p>{{hotel.telefono}}</p>
        </div>
      </div>
    </div>
  </div>
  </div>



<div class="text-center">
  <!--HABITACIONES-->
<h2>HABITACIONES</h2>
<p>Las Mejores habitaciones las Encuentras <br>
EasyStay</p>
<a (click)="VistaUsuarioHabitacion()" class="btn btn-info btn-block" >
  Mostrar Todas las habitaciones
</a>
</div>

<div class="container p-4">
  <div class="row">

    <div class="col-md-4" *ngFor="let habitacion of habitaciones">
      <div class="card text-center">
        
        <img class="card-img-top" style="width: 100%; height: 400px;"
          src="{{ habitacion.imagen }}">

        <div class="card-body">
          <p>{{ habitacion.nombre }}</p>
          <p>Tipo: {{ habitacion.tipoHabitacion.nombre_tipo }}</p>
          <p>Capacidad: {{ habitacion.capacidad }}</p>
          <p>Precio: {{ habitacion.precio | currency }}</p>
          <p>Número: {{ habitacion.numero }}</p>
          <p>Estado: {{habitacion.estado? 'Disponible':'No Disponible'}}</p>
          <p>Precio: {{ habitacion.precio | currency }}</p>
          <a class="btn btn-info btn-block" >
            Reservar
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>