<div class="carousel slide" data-bs-ride="carousel" id="carouselExampleIndicators">
  <div class="carousel-indicators">
    <button aria-label="Slide 1" class="active" data-bs-slide-to="0" data-bs-target="#carouselExampleIndicators"
      type="button"></button>
    <button aria-label="Slide 2" data-bs-slide-to="1" data-bs-target="#carouselExampleIndicators"
      type="button"></button>
    <button aria-label="Slide 3" data-bs-slide-to="2" data-bs-target="#carouselExampleIndicators"
      type="button"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img alt="..." class="d-block w-100" src="../../../assets/ban6.jpg">
      <div class="carousel-caption">
        <h5>Lima a Orillas del Océano</h5>
        <p>Disfruta de la costa del Pacífico y sus impresionantes vistas.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img alt="..." class="d-block w-100" src="../../../assets/ban3.jpg">
      <div class="carousel-caption">
        <h5>Vida Nocturna en la Capital</h5>
        <p>Experimenta la animada vida nocturna y la gastronomía de Lima.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img alt="..." class="d-block w-100" src="../../../assets/ban5.jpg">
      <div class="carousel-caption">
        <h5>Arte y Cultura en la Ciudad</h5>
        <p>Disfruta de museos, galerías y manifestaciones culturales únicas.</p>
      </div>
    </div>
  </div><button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleIndicators"
    type="button"><span aria-hidden="true" class="carousel-control-prev-icon"></span> <span
      class="visually-hidden">Previous</span></button> <button class="carousel-control-next" data-bs-slide="next"
    data-bs-target="#carouselExampleIndicators" type="button"><span aria-hidden="true"
      class="carousel-control-next-icon"></span> <span class="visually-hidden">Next</span></button>
</div>
<section class="about section-padding m-5" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-12">
        <div class="about-img">
          <img alt="" style="height: 100%;" class="img-fluid" src="../../../assets/ban5.jpg">
        </div>
      </div>
      <div class="col-lg-8 col-12">
        <div class="about-text">
          <h2 class="text-center mt-2">Somos Easy Stay</h2>
          <p style="text-align: justify;">La forma más sencilla y conveniente de reservar habitaciones. Easy Stay,
            puedes buscar y asegurar habitaciones de hotel, apartamentos y más en segundos. Olvídate de las complicadas
            llamadas telefónicas y correos electrónicos; con nuestra aplicación, la reserva de tu alojamiento ideal es
            rápida y sin complicaciones.</p>
          <a class="btn btn-warning" href="#">Conócenos</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="portfolio section-padding" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pb-5">
          <h2>Lorem</h2>
          <p>Lorem ipsum dolor sit amet, consectetur<br>
            adipisicing elit. Non, quo.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-light text-center bg-white pb-2">
          <div class="card-body text-dark">
            <div class="img-area mb-4"><img alt="" class="img-fluid" src="../../../assets/ban5.jpg"></div>
            <h3 class="card-title">Lorem</h3>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus
              alias iste. Accusantium?</p><button class="btn bg-warning text-dark">Learn More</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-light text-center bg-white pb-2">
          <div class="card-body text-dark">
            <div class="img-area mb-4"><img alt="" class="img-fluid" src="../../../assets/ban5.jpg"></div>
            <h3 class="card-title">Lorem</h3>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus
              alias iste. Accusantium?</p><button class="btn bg-warning text-dark">learn More</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-4">
        <div class="card text-light text-center bg-white pb-2">
          <div class="card-body text-dark">
            <div class="img-area mb-4"><img alt="" class="img-fluid" src="../../../assets/ban5.jpg"></div>
            <h3 class="card-title">Lorem</h3>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eligendi modi temporibus
              alias iste. Accusantium?</p><button class="btn bg-warning text-dark">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="team section-padding mt-5" id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pb-5">
          <h2>Lorem</h2>
          <p>Lorem ipsum dolor sit amet, consectetur<br>
            adipisicing elit. Non, quo.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card text-center">
          <div class="card-body">
            <img alt="" class="img-fluid rounded-circle" src="../../../assets/ban5.jpg">
            <h3 class="card-title py-2">Lorem</h3>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo
              tempora esse quibusdam.</p>
            <p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i
                class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i
                class="bi bi-instagram text-dark mx-1"></i></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card text-center">
          <div class="card-body">
            <img alt="" class="img-fluid rounded-circle" src="../../../assets/ban5.jpg">
            <h3 class="card-title py-2">Lorem</h3>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo
              tempora esse quibusdam.</p>
            <p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i
                class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i
                class="bi bi-instagram text-dark mx-1"></i></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card text-center">
          <div class="card-body">
            <img alt="" class="img-fluid rounded-circle" src="../../../assets/ban5.jpg">
            <h3 class="card-title py-2">Lorem</h3>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo
              tempora esse quibusdam.</p>
            <p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i
                class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i
                class="bi bi-instagram text-dark mx-1"></i></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card text-center">
          <div class="card-body">
            <img alt="" class="img-fluid rounded-circle" src="../../../assets/ban5.jpg">
            <h3 class="card-title py-2">Lorem</h3>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi ipsam nostrum illo
              tempora esse quibusdam.</p>
            <p class="socials"><i class="bi bi-twitter text-dark mx-1"></i> <i
                class="bi bi-facebook text-dark mx-1"></i> <i class="bi bi-linkedin text-dark mx-1"></i> <i
                class="bi bi-instagram text-dark mx-1"></i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>