<app-dashboard></app-dashboard>
<div class="container p-4">
  <div class="row">
          
              <div class="col-md-4" *ngFor="let habitacion of habitaciones">
                <div class="card text-center">
                  
                  <img class="card-img-top" style="width: 100%; height: 400px;"
                    src="{{ habitacion.imagen }}">
          
                  <div class="card-body">
                    <h2 >{{ habitacion.nombre }}</h2>
                    <p style="font-size: 24px;">Tipo: {{ habitacion.tipoHabitacion.nombre_tipo }}</p>
                    <p style="font-size: 24px;">Capacidad: {{ habitacion.capacidad }}</p>
                    <p style="font-size: 24px;">Número: {{ habitacion.numero }}</p>
                    <p style="font-size: 24px;">Estado: {{habitacion.estado? 'Disponible':'No Disponible'}}</p>
                    <p style="font-size: 24px;">Precio: {{ habitacion.precio | currency }}</p>
                    <td><a (click)="editarHabitacion(habitacion.id!)" class="btn btn-success"><i class="fas fa-marker"></i></a>
                    </td>
                    <td><a (click)="eliminarHabitacion(habitacion.id!)" class="btn btn-danger"><i
                                class="far fa-trash-alt"></i></a>
                    </td>
                  </div>
                </div>
              </div>
          
            </div>
          </div>
