<div class="wrapper">
  <div class="container main">
    <div class="row">
      <div class="col-md-12 right">
        <div class="input-box">
          <header>Iniciar Sesión</header>
          <form >

            <div class="input-field">
              <input id="email" class="input" name="username" type="text" required="" autofocus>
              <label for="email">Email</label>
            </div>


            <div class="input-field">
              <input  class="input" name="password" type="password" required="">
              <label for="pass">Password</label>
            </div>

            <div class="input-field">
              <button type="submit" class="btn btn-secondary" value="Iniciar">Login</button>
            </div>

            <div class="signin">
              <p>No estas registrado? <a href="">Registrate aqui</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>