<div class="wrapper">
  <div class="container main">
    <div class="row">
      <div class="col-md-12 right">
        <div class="input-box">
          <header>Registrate</header>
          <form >

            <div class="input-field">
              <input id="" class="input" name="" type="text" required="" autofocus>
              <label for="">Usuario</label>
            </div>


            <div class="input-field">
              <input  class="input" name="" type="password" required="">
              <label for="">Password</label>
            </div>

            <div class="input-field">
              <input  class="input" name="" type="password" required="">
              <label for="">Nombre</label>
            </div>

            <div class="input-field">
              <input  class="input" name="" type="password" required="">
              <label for="">Apellido</label>
            </div>

            <div class="input-field">
              <input  class="input" name="" type="password" required="">
              <label for="">Email</label>
            </div>

            <div class="input-field">
              <input  class="input" name="" type="password" required="">
              <label for="">Telefono</label>
            </div>

            <div class="input-field">
              <button type="submit" class="btn btn-secondary" value="Iniciar">Registrate</button>
            </div>

            <div class="signin">
              <p>No estas registrado? <a href="">Registrate aqui</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>