<footer class="bg-light pt-5 pb-4 mt-5" data-bs-theme="light">
  <div class="container text-center text-md-start">
    <div class="row text-center text-md-start">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Nosotros</h5>
        <hr class="mb-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis recusandae veritatis ipsum fugiat sapiente
          officiis.</p>
        <div class="text-center">
          <ul class="list-unstyled list-inline socials">
            <li class="list-inline-item">
              <a href="/"><i class="fab fa-facebook rounded"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="/"><i class="fab fa-instagram rounded"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="/"><i class="fab fa-x-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="/"><i class="fab fa-discord"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 sections">
        <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Apartados</h5>
        <hr class="mb-4">
        <p>
          <a href="/">Inicio</a>
        </p>
        <p>
          <a routerLink="faq">Nosotros</a>
        </p>
        <p>
          <a href="/">Habitaciones</a>
        </p>
        <p>
          <a href="/">Contáctanos</a>
        </p>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-primary">Contacto</h5>
        <hr class="mb-4">
        <p>
          <a href="/"><i class="fas fa-map-marker"></i> LARCOMAR,<br>Malecón de la Reserva 610<br>Miraflores
            15074<br>Lima, Perú</a>
        </p>
        <p>
          <a href="/"><i class="fas fa-phone"></i> 975355190</a>
        </p>
        <p>
          <a href="/"><i class="fas fa-envelope"></i> michel@gmail.com</a>
        </p>
      </div>
    </div>
  </div>
  <hr class="mb-4">
  <p class="text-center">Copyright ©2023 Todos los derechos reservados | <a
      href="https://www.instagram.com/michelcruzof/" target="_blank">Powered By Maraví</a></p>
</footer>