<nav class="navbar navbar-expand-lg bg-primary mb-4" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand fs-2" href="/">Easy Stay</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse show" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Hoteles</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="Listar()">Listar</a>
            <a class="dropdown-item" (click)="Registrar()">Registrar</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Habitaciones</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="ListarHabitaciones()">Listar</a>
            <a class="dropdown-item" (click)="RegistrarHabitacion()">Registrar</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Reservas</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" (click)="ListarReservas()">Listar</a>
            <a class="dropdown-item" (click)="RegistrarReserva()">Registrar</a>
          </div>
        </li>
      </ul>
    </div>
    <a (click)="Logout()" class="btn btn-primary fs-2"><i class="fas fa-sign-out-alt"></i></a>
  </div>
</nav>